@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(69, 69, 85);
    font-family: 'Google Sans', sans-serif;
    color: white;
    gap: 10px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: gray;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 3px;
    transition: transform 0.1s ease-in;
}

.cell:hover {
    box-shadow: 0 0 10px 1px antiquewhite;
}

.cell:active {
    transform: scale(0.9);
}

.cell.winner {
    background-color: green;
}

#score-container {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

@keyframes pulsarBrilho {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(19, 225, 54, 0.7); 
  }
  
  70% {
    transform: scale(1.05); 
    box-shadow: 0 0 10px 15px rgba(19, 225, 54, 0); 
  }
  
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(19, 225, 54, 0); 
  }
}

#title-x, #title-o {
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
}

#title-x.win, #title-o.win {
    background-color: green;
    animation: pulsarBrilho 2s infinite;
}

#btn-restart-game {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: aquamarine;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.1s ease-in ;
}

#btn-restart-game:hover {
    transform: scale(1.05);
}

#btn-restart-game:active {
    transform: scale(1);
}